@model IEnumerable<Supercar>

<h2>Supercars</h2>

<button type="button" onclick="location.href='/Supercar/AddSupercar/';" class="btn btn-primary">Sell Your Supercar</button>


<table class="table">
    <tr>
        <th>ID</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Horsepower</th>
        <th>Top Speed</th>
        <th>Price</th>
        <th>Image</th>
    </tr>

    @foreach (var supercar in @Model)
    {
        <tr>
            <td><a href=/Supercar/ViewSupercar/@supercar.Id>@supercar.Id</a></td>
            <td>@supercar.Brand</td>
            <td>@supercar.Model</td>
            <td>@supercar.Horsepower</td>
            <td>@supercar.Top_speed</td>
            <td>@supercar.Price</td>
            <td><img src="@supercar.ImageURL" style="height: 40px; width:auto; border-radius: 3px;box-shadow: 0 10px 10px 0 rgba(10, 11, 14, 0.6);" /></td>
        </tr>
    }

</table>
