@model Supercar

<h3>@Model.Brand Information</h3>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Horsepower</th>
        <th>Top Speed</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Brand</td>
        <td>@Model.Model</td>
        <td>@Model.Horsepower</td>
        <td>@Model.Top_speed</td>
        <td>@Model.Price</td>
    </tr>
</table>

<div style="display: block">
    <a href="/Supercar/UpdateSupercar/@Model.Id">Modify this Supercar</a>
</div>

<div style="display: block">

    @using (Html.BeginForm("DeleteSupercar", "Supercar", "Post"))
    {
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Buy This Supercar" />
    }
</div>