@model Supercar

<h3>@Model.Brand Information</h3>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Horsepower</th>
        <th>Top Speed</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Brand</td>
        <td>@Model.Model</td>
        <td>@Model.Horsepower</td>
        <td>@Model.Top_speed</td>
        <td>@Model.Price</td>
    </tr>
</table>
